.secc-two-descr {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 0.75rem;
}

.secc-two-descr h4 { 
    text-transform: uppercase;
    text-align: center;
    color: #4B4B4B;
    font-weight: bold;
    letter-spacing: 0.15rem;
}

.secc-two-descr span {
    color: #4B4B4B;
    font-size: 0.875rem;
}

.secc-two-icons-cont  {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 0.5rem;
}

.secc-two-icons-cont h4 {
    color: #4B4B4B;
    font-style: italic;
    font-size: 1.125rem;
}

.icon-img { 
    width: 12.5%;
}

@media (min-width: 575.98px) and (max-width: 991.98px) {

    .secc-two-descr {
        gap: 1.25rem;
    }

    .secc-two-descr h4 {
        margin-top: 2.5rem;
        font-size: 3rem;
        letter-spacing: 0.25rem;
    }
    
    .secc-two-descr span {
        font-size: 1.175rem;
    }

    .secc-two-icons-cont {
        margin-top: 1.5rem;

    }

    .secc-two-icons-cont h4 {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }
}