@media (min-width: 575.98px) and (max-width: 991.98px) { 

    .resume-personal-name h1 {
        font-size: 3rem;
    }

    .resume-personal-info h5 {
        font-size: 1.175rem
    }
}

@media (max-width: 575.97px) {

    #resume {
     height: auto;
    }

}
