footer {
    width: 100%;
    height: 5.25rem;
    display: flex;
    align-items: center;
    background-color: #865241;
}

.footer-label svg {
    color: #DFD3CE;
}

.footer-label span {
    color: #DFD3CE;
}

/* .footer-email {
    text-decoration: underline;
    text-underline-position: under;
} */